<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <!-- SINGLE DATEPICKER -->
  <section>
    <div data-cy="single-datepicker-input-parent">
      <h2>Single Datepicker</h2>
      <input data-cy="single-datepicker-input" type="text">
    </h2>
  </section>


  <!-- DATERANGE -->
  <section id="daterange-section">
    <div data-cy="daterange-inputs-parent">
      <h2>Daterange</h2>
      <div id="daterange-inputs-container">
        <div id="daterange-input-start-container" data-cy="daterange-input-start-container">
          <input data-cy="daterange-input-start" type="text">
        </div>
        <div id="daterange-input-end-container" data-cy="daterange-input-end-container">
          <input data-cy="daterange-input-end" type="text">
        </div>
      </div>
    </div>
  </section>
</body>
</html>
