<!DOCTYPE html>
<html lang="en-US">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../sandbox/sandbox.css">
</head>
<body>
  <div class="range-container">
    <input type="range" min="1" max="100" value="10" step=".1">
  </div>
  <div class="container">
    <input type="text" class="start" aria-label="test">
    <input type="text" class="end">
    <input type="text" class="nope">
  </div>
</body>
</html>
