<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <!-- SINGLE DATEPICKER -->
  <section>
    <div class="container">
      <h2>Single Datepicker</h2>
      <input data-cy="single-datepicker-input" type="text">
    </h2>
  </section>


  <!-- DATERANGE -->
  <section data-cy="daterange-section">
    <div class="container">
      <h2>Daterange</h2>
      <input data-cy="daterange-input-start" type="text">
      <input data-cy="daterange-input-end" type="text">
    </div>
  </section>
</body>
</html>
