html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  --gap: 0.5em;
  --border-color: #ccc;

  padding: 0.5em;
  font-family: sans-serif;
}

section {
  border: 1px solid var(--border-color);
  padding: var(--gap);
  border-radius: 0.25em;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--gap);
}

h3 {
  margin: 0;
}
