html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  --gap: 0.5em;
  --border-color: #ccc;

  padding: var(--gap);
  font-family: sans-serif;
}

section {
  position: relative;
  border: 1px solid var(--border-color);
  padding: var(--gap);
  border-radius: 0.25em;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--gap);
}

h3 {
  margin: 0;
}

.checkbox-container {
  position: absolute;
  right: calc(var(--gap) / 3);
  top: calc(var(--gap) / 3);
  display: flex;
  align-items: center;
}

.checkbox-text {
  font-size: 0.65em;
  color: gray;
}
