* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 200%;
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 25vh;
}

input {
  font-size: 1.5em;
  padding: 10px;
  width: 25%;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.range-container {
  text-align: center;
  padding-top: 5em;
}
