<!DOCTYPE html>
<html lang="en-US">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../sandbox/test.css">
</head>
<body>
  <div class="container">
    <section data-cy="section-1">
      <div>Input 1</div>
      <input type="text" data-cy="input-1">
    </section>
    <section data-cy="section-2">
      <div>Input 2</div>
      <input type="text" data-cy="input-2">
    </section>
  </div>
</body>
</html>
