.dp-dn {
  display: none;
}

.dp-controls-container,
.dp-month-year-container {
  display: grid;
}

.dp-calendar-container {
  --size: 15.625em;
  --radius: calc(var(--size) * 0.016891);
  --arrow-size: calc(var(--size) / 12);

  box-sizing: border-box;
  width: var(--size);
  position: relative; // TODO - this is temporary. Should be dynamically set in JS.
  user-select: none;
  border: 1px solid currentColor;
  border-radius: var(--radius);

  * {
    box-sizing: border-box;
  }

  // https://stackoverflow.com/a/24626986/2525633
  // Remove extra space below the SVG arrows which sit inside a divs.
  svg {
    display: block;
    width: var(--arrow-size);
    height: var(--arrow-size);

    path {
      fill: currentColor;
    }
  }
}

.dp-days-container,
.dp-weekdays-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.dp-controls-container {
  grid-template-columns: repeat(3, min-content);
  justify-content: space-between;
}

.dp-month-year-container {
  grid-template-columns: min-content min-content;
  gap: 0.5em;
}

.dp-arrow {
  display: flex;
  align-items: center;

  &.dp-arrow-right svg {
    transform: rotate(180deg);
  }
}

.dp-weekday,
.dp-day {
  text-align: center;
}

.dp-overlay-container {
  animation-duration: 0.5s;
  // At the end of the animation, the styles will remain.
  animation-fill-mode: both;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 255, 0.2);
}

.dp-overlay-in {
  animation-name: dpOverlayIn;
}

.dp-overlay-out {
  animation-name: dpOverlayOut;
}

.dp-overlay-shown {
  opacity: 1;
  z-index: 1;
}

.dp-overlay-hidden {
  opacity: 0;
  z-index: -1;
}

// https://stackoverflow.com/a/57924649/2525633
@keyframes dpOverlayIn {
  0% {
    opacity: 0;
    z-index: 1;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}

@keyframes dpOverlayOut {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
